@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #27415c;
    color: rgb(233, 233, 233);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    position: sticky;
    background-color: #1d3249;
}

.header-img{
    height: 60px;
}

.header-menu{
    display: flex;
    gap: 32px;
}

.header-menu-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    border-top: 0.4px solid rgb(233, 233, 233);
    margin-bottom: 48px;
}

.conteudo-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-main-texto{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-main-botao{
    background-color: rgb(54, 207, 207);
    width: 250px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #1d3249;
    cursor: pointer;
}

.conteudo-main-botao:hover{
    background-color: rgb(13, 99, 99);
    color: #FFF2E7
}

.conteudo-main-img{
    height: 430px;
}

.secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    padding-top: 48px;
}

.secundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-size: 24px;
    margin-bottom: 16px;
}

.secundario-paragrafo{
    font-weight: 400;
    font-size: 18px;
    margin: 0 18px;
}

.rodape{
    padding: 32px;
    align-items: center;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-texto{
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}